body{
    background-image: url('https://www.tilelook.com/system/tile_picture/resource/8071521/d3d_default_M39S_2.jpg');
}
.about-text{
    text-align: center justify;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
    padding: 30px;
    margin-bottom: 20vh;
}
.welcome-text
{
    font-size: 70px;
    text-align: center;
    color: white;
    text-shadow: 10px 10px 10px 10px #000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 0px;
    margin-top: 0px;
}
h2
{
    text-align: center;
    font-size: 35px;
    margin-top: 45vw;
    color: white;
}
img{
    margin-top: 0%;
    padding:0%;
}
.welcome-div{
    margin-top: 15vw;
}
html{
    scroll-behavior: smooth;
}
.scroll-button{
    margin-top: 200px;
    margin-bottom: 0px;
    font-size: 35px;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.inventory-button{
    margin-bottom: 20vh;
    font-size: larger;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}
.scroll-btn{
    background-color: rgba(0, 0, 0, 0);
    font-size: 25px;
    color: white;
}
