p{
    text-align: left;
    margin-left: 10px;
}

.brand-list {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
h1 {
    color: #333;
    background-color: white;
  }
  
ul {
    list-style-type: none;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
  }
  
li {
    /*border-bottom: 1px solid #ddd;*/
    padding: 10px 0;
    color: white;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  
li:last-child {
    border-bottom: none;
  }
  
  /* Style the brand name and type */
.brand-name {
    font-weight: bold;
    color: #0066cc;
  }
  
.alcohol-type {
    color: #666;
    margin-left: 5px;
  }
input{
    border-width: 0cap;
    background-color: grey;
    color: black;
  }
label{
    color: white;
    font-family:'Courier New', Courier, monospace;
  }
form{
    text-align: center;
  }
button{
    border-radius: 0%;
    border-width: 0cap;
  }
  .inventory-title{
    margin-top: 20vh;
    margin-bottom: 0px;
  }
  .inventory-desc{
    text-align: center;
    color: white;
    margin-top: 10px;
  }
  .drinks-button{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 30px;
    margin-top: 20vh;
  }
  .to-drinks{
    text-align: center;
  }