body{
    font-family: Times New Roman, sans-serif;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
} /*Page Setup*/
h4{
    font-size: 54px;
    margin-top: -7vw;
    color: white;
    padding: 20px;
    text-align: center;
} /*Heading Text for Page*/
.container {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} /*Container for Text Blocks*/
.image{
    flex: 1;
    padding: 0 20px;
}
.image img{
    max-width: 100%;
    height: auto;
    display: block;
}
img{
    src: 'example.png';
    alt: '';
    border: 5px solid #ffffff;
}
.content{
    flex: 1;
    padding: 0 20px;
}
.centered-text{
    text-align: center;
    width: 100%;
    margin-top: 100px;
}